@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@layer base {
    h1 {
        font-size: 2em;
        font-weight: bold;
    }

    h2 {
        font-size: 1.75em;
        font-weight: bold;
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }
}
