/** @format */

@import "tailwindcss";

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: linear-gradient(
        0deg,
        rgb(23 37 84 / 50%) 30%,
        /* blue-950 dengan opacity 50% */ #0000 0 70%,
        rgb(23 37 84 / 100%) 0 /* blue-950 solid */
      )
      50% / 8% 100%,
    linear-gradient(
        90deg,
        rgb(23 37 84 / 25%) 30%,
        /* blue-950 dengan opacity 25% */ #0000 0 70%,
        rgb(23 37 84 / 75%) 0 /* blue-950 dengan opacity 75% */
      )
      50% / 100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
.loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}
@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Untuk Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.ql-editor {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
.ql-editor ul {
  list-style-type: disc;
  padding-left: 20px;
}
.ql-editor ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.ql-font-monospace {
  font-family: monospace;
}

@layer base {
  h1 {
    font-size: 2em;
    font-weight: bold;
  }

  h2 {
    font-size: 1.75em;
    font-weight: bold;
  }

  .card ul {
    list-style-type: disc;
  }

  .card ul,
  ol {
    margin-left: 20px;
  }

  .card ol {
    list-style-type: decimal;
  }
  .card a {
    text-decoration: underline;
  }
}
